# Ignore Terraform variable and state files
**/*.tfvars
**/*.tfstate
**/*.tfstate.backup
**/.terraform.lock.hcl
**/.terraform.tfstate.lock.info
**/.terraform/

# Ignore kubernetes config files
**/kubeconfigs/

# Ignore Keynote files
**/*.key
